.atlassian-logo {
  width: 750px;
  height: 150px;
}

#atlassian-logo {
  .path1,
  .path2,
  .path3,
  .path4,
  .path5,
  .path6,
  .path7,
  .path8,
  .path9,
  .path10 {
    fill: rgb(32, 81, 130);
    stroke: rgb(32, 81, 130);
  }

  .path11,
  .path12,
  .path13,
  .path14 {
    stroke: rgb(89, 174, 224);
    fill: rgb(89, 174, 224);
  }
}