.propsDemo {
  width: 100%;
  border: 1px solid #FFF;
  border-radius: 5px;
  padding: 0.5em;
  text-align: left;

  .propsDemo {
    margin-top: 1em;
  }

  h4 {
    margin: 0;
  }

  input {
    margin: 0.5em 0;
  }
}