.high-contrast {
  background: @edaveBlue;
  color: #FFF;

  .controls button svg {
    fill: #FFF;
  }

  a {
    color: #FFF;
  }

  .slide.react-title {
    svg {
      stroke: #FFF;
      fill: #FFF;
    }
  }

  ul.sections li {
    border-color: #FFF;

    &.selected {
      font-weight: bold;
      background-color: #FFF;
      color: @edaveBlue;
    }
  }

  &.highlight-components .highlightable-component {
    border: 1px solid #FFF;
  }

  #atlassian-logo {
    .path1,
    .path2,
    .path3,
    .path4,
    .path5,
    .path6,
    .path7,
    .path8,
    .path9,
    .path10 {
      fill: rgb(255, 255, 255);
      stroke: rgb(255, 255, 255);
    }

    .path11,
    .path12,
    .path13,
    .path14 {
      stroke: rgb(255, 255, 255);
      fill: rgb(255, 255, 255);
    }
  }
}