
body, html {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: "Helvetic Neue", Helvetica, Arial;
}

body, html, #foundation, #presentation, #presentation > div {
  height: 100%;
  width: 100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: @edaveBlue;
}

*, *::after, *::before {
  box-sizing: border-box;
}

#presentation > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  font-size: .35em;
  text-align: left;
  width: 100%;
  padding: .25em;

  a {
    text-decoration: none;
  }
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-content: stretch;
  font-size: .33em;
  padding: .25em;
  opacity: 0.5;
}