ul.sections {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;

  li {
    border: 2px solid #000;
    text-align: center;
    padding: 0.5em 2em;
    margin: 0.5em;
    border-radius: 8px;
  }
}